* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Martel Sans", sans-serif;
    scroll-behavior: smooth;
    /* font-family: Gumela; */
}

:root {
    --yellow: #F5C32C;
    --orange: #FCA61F;
    --black: #242D49;
    --bluecard: #DDF8FE;
    --gray: #788097;
    --purple: rgb(238 210 255);
    --boxShadow: 0px 19px 60px rgb(0 0 0 /8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShaow: -79px 51px 60px rgba(0, 0, 0, 0.08);
    --white: white;
}

.dark-theme {
    background-color: black;
    --black: white;
    --white: black;

}


button {
    padding: 8px 26px;
    border-radius: 30px;
    outline: none;
    border: none;
    background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
    color: var(--bluecard);
    box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
    cursor: pointer;
    border: 3px solid var(--orange);



}

button:hover {
    color: var(--orange);
    background: white;
}
.active{
    color: var(--orange) !important;
}

/* header section style */


header {
    padding: 0.7rem 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    position: fixed;
    width: 100%;
    z-index: 2;
    overflow: hidden;
    box-shadow: 2px 2px 5px var(--orange);
    background-color: var(--white);
    /* position: relative; */


}


header .left {
    display: flex;
    align-items: center;
}

header .left .logo {
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--black);
    text-shadow: 1px 1px gray;
}

header .mood {
    width: 200px;
    cursor: pointer;
    margin-left: 20px;

}

header .mood i {
    font-size: 22px;
    color: var(--orange);

}

header .nav {
    display: flex;


}

header .nav li {
    list-style: none;
    margin-right: 35px;
}


header .nav li a {
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
        transition: 0.3s;

}

header .nav li a:hover {
    color: var(--yellow);
    transition: 0.3s;

}


header .right .btn {
    font-size: 18px;



}
header .menu{
    display: none;
}
header .menu i{
    font-size: 30px;
    cursor: pointer;
    color: var(--black);
}


.res-nav{
    background-color: rgba(135, 223, 227, 0.516);
    padding: 10px;
    margin: 10px;
    border-radius: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    z-index: 3;
    top:11vh;
    backdrop-filter: blur(10px);
    width: calc(100% - 20px);
    display: none;
    
    
 }

 .res-nav li a{
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;

 }
 .res-nav li a:hover {
    color: var(--yellow);
    transition: 0.3s;
}
.res-nav li{
    list-style: none;
    margin-top: 30px;
    align-items: center;

}
.res-nav .btn{
    font-size: 18px;

}
.show-nav{
    display: block;
}
.show-nav li{
display: flex;
justify-content: center;
}
    






/* home page style */

.home {
    padding: 3rem 3.5rem;
    height: 100vh;
    position: relative;
    width: 100%;
    overflow: hidden;
}


.home .blur:nth-child(1) {
    background-color: aquamarine;
    height: 20rem;
    width: 14rem;
    filter: blur(72px);
    border-radius: 50%;
    position: absolute;
    left: 40rem;
    bottom: 0;
    z-index: -5;

}

.home .blur:nth-child(2) {
    background-color: #edd0ff;
    height: 11rem;
    width: 21rem;
    filter: blur(72px);
    border-radius: 50%;
    position: absolute;
    top: 90px;
    right: 0;
    z-index: -5;

}

.home .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

.home .main .left {
    display: flex;
    width: 50%;
    flex-direction: column;
    column-gap: none;
    margin-top: 3rem;


}



.home .content {
    display: flex;
    flex-direction: column;
}

.home .content span {
    font-weight: bold;
    font-size: 3rem;
    line-height: 70px;
    color: var(--black);
}

.home .content span span {
    color: var(--orange);
}



.home .content .four {
    color: var(--gray);
    margin-top: 20px;
    line-height: 25px;
    text-align: justify;
    font-size: 16px;


}

.home .left .btn {
    width: 160px;
    margin-top: 30px;
}

.home .left .btn a {
    text-decoration: none;
    font-size: 16px;
    color: var(--bluecard);
    cursor: pointer;

}

.home .left .btn a:hover {
    color: var(--orange);

}


.home .iocn i {
    color: var(--orange);
    font-size: 2.6rem;
    margin: 70px 20px 0 20px;
    cursor: pointer;
}

.home .iocn i:hover {
    transform: scale(1.03);

}



.home .right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100% ;



}
.home .right .img{
    width: 100%;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home .right .img img{
    position: absolute;
    height: 30rem;
}




/* about style */

.about {
    height: auto;
    display: flex;
    padding: 3.1rem 3.5rem;
    overflow: hidden;
}

.about .left {
    width: 35%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .left .img{
    width: 100%;
    height: 30rem;
    /* display: flex;
    justify-content: center; */
    
    
}
.about .left .img img{
    height: 30rem;
   
    
}



.about .right h1 {
    color: var(--orange);
    font-size: 2.5rem;

}

.about .right {
    padding: 10px 10px;
    width: 65%;

}

.about .right .about-btn {
    color: rgb(60, 119, 221);
    cursor: pointer;
    margin-left: 0;
}


.about .right p {
    font-size: 16px;
    color: var(--black);
    margin-top: 20px;
    line-height: 25px;
    text-align: justify;
}

.about .right p span {
    color: var(--orange);
    font-size: 16px;
}


.about .right h2 {
    color: var(--orange);
    font-size: 2rem;
    margin-top: 20px;


}

.about .right span {
    margin: 10px;
    font-size: 20px;

}

.about .right p span:nth-last-child(2) {
    color: var(--black);
}

.about .right .more-text {
    display: none;
}


.about .container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}

.about .container .box {
    width: 400px;
    height: 50px;
    position: relative;
    margin: 5px;


}

.about .container .progress {
    height: 15px;
    width: 380px;
    border-radius: 7px;
    position: relative;
    background-color: var(--gray);

}

.about .container .progress .progress-bar {
    height: 100%;
    width: 90%;
    border-radius: 7px;
    background-color: var(--orange);
    animation: progress 1.5s ease forwards;
    opacity: 0;

}

@keyframes progress {
    0% {
        width: 0;
        opacity: 0.5s;
    }

    100% {
        opacity: 1;
    }

}


.about .container .progress-bar span {

    position: absolute;
    right: 10%;
    top: -28px;
    color: var(--black);
    margin: 0;
    font-size: 16px;


}

.about .box span {
    color: var(--black);
    margin: 0;
    font-size: 16px;
    top: -10px;


}

.about .container .progress-bar.html {
    width: 90%;
}

.about .container .progress-bar.css {
    width: 80%;
}

.about .progress-bar.css span {
    right: 20%;
}



.about .container .progress-bar.javascript {
    width: 50%;
}

.about .progress-bar.javascript span {
    right: 50%;
}

.about .container .progress-bar.jquiry {
    width: 50%;
}

.about .progress-bar.jquiry span {
    right: 50%;
}

.about .container .progress-bar.angular {
    width: 60%;
}

.about .progress-bar.angular span {
    right: 40%;
}

.about .container .progress-bar.react {
    width: 60%;
}

.about .progress-bar.react span {
    right: 40%;
}

.about .container .progress-bar.wordpress {
    width: 70%;
}

.about .progress-bar.wordpress span {
    right: 30%;
}

.about .container .progress-bar.boostrape {
    width: 90%;
}

.about .progress-bar.boostrape span {
    right: 10%
}

.about .container .progress-bar.photoshop {
    width: 70%;
}

.about .progress-bar.photoshop span {
    right: 30%;
}







/* experience style */

.experience {
    height: 100vh;
    padding: 3rem 3.5rem;
    display: flex;
    position: relative;
    overflow: hidden;

}

.experience .blur:nth-child(1) {
    background-color: aquamarine;
    height: 22rem;
    width: 14rem;
    filter: blur(72px);
    border-radius: 50%;
    position: absolute;
    top: 350px;
    left: 10px;
    z-index: -5;

}

.experience .blur:nth-child(2) {
    background-color: var(--purple);
    height: 22rem;
    width: 14rem;
    filter: blur(72px);
    border-radius: 50%;
    position: absolute;
    top: 180px;
    right: 100px;
    z-index: -5;

}

.experience .left {
    width: 50%;
    margin-top: 2rem;
}

.experience .right {
    width: 60%;
}

.experience .left .content {
    display: flex;
    flex-direction: column;
}

.experience .left span:nth-child(1) {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
}

.experience .left span:nth-child(2) {
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
}



.experience .left p {
    font-size: 16px;
    color: var(--gray);
    margin-top: 15px;
    line-height: 25px;
    text-align: justify;


}


.experience .left .btn {
    font-size: 16px;
    margin-top: 50px;

}



.experience .right .exp-box {
    height: auto;
    position: absolute;
    text-align: center;
    padding: 10px;
    width: 230px;
    border: 7px solid var(--orange);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.26);
}

.experience .right .exp-box img {
    height: 50px;
    width: 50px;

}

.experience .right .exp-box h3 {
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 4px;
    color: var(--orange);
    line-height: 30px;
}

.experience .right .exp-box h3 span {
    font-size: 1rem;
    color: var(--black);

}


.experience .right .exp-box p {
    font-size: 16px;
    color: var(--gray);
    margin-top: 8px;
    line-height: 22px;
    margin: 5px;


}

.experience .right .exp-box-1 {
    top: 200px;
    left: 15%;

}

.experience .right .exp-box-2 {
    top: 5rem;
    right: 0%;


}

.experience .right .exp-box-3 {
    left: 60%;
    bottom: 3rem;

}

.ani-1{
    animation: box-1 2s ease forwards;

}
.ani-2{
    animation: box-2 2s ease forwards;

}
.ani-3{
    animation: box-3 2s ease forwards;

}


 @keyframes box-1 {
    0% {
        left: 10%;
   
    }
    100% {
        left: 28%;

    }

}
@keyframes box-2 {
    0% {
        right: 5%;
   
    }
    100% {
        right: 22%;

    }

}
@keyframes box-3 {
    0% {
        left: 60%;
   
    }
    100% {
        left: 53%;

    } 

} 

/* Projects Style */

.projects {
    height: 100vh;
    padding: 3rem 3.5rem;
    text-align: center;
    overflow: hidden;

}

.projects h3 {
    color: var(--black);
    font-size: 2.2rem;
    margin-top: 3rem;

}

.projects h2 {
    color: var(--orange);
    font-size: 2.5rem;

}

.projects .container {
    display: flex;
    justify-content: center;
    margin: 30px;
    flex-wrap:wrap;


}

.projects .container .box {
    height: 250px;
    margin: 10px;
    background-color: #edd0ff;
    border-radius: 20px;
    width: 380px;
    box-shadow: 5px 5px 10px grey;
    position: relative;
    overflow: hidden;
    background-image: url("Images/project-bg.png");
    background-size: 100% 100%;

}


.projects .box .one{
    height: 100%;
    width:100%;
    background: linear-gradient(180deg, #fdc50f62 26.71%, #fb982f 99.36%);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    bottom: -100%;
    backdrop-filter: blur(7px);
}

.projects .container .box:hover .one{
    bottom: 0%;
    transition:bottom 0.5s;

}

.projects .box span:nth-child(1){
    font-size: 20px;
    font-weight: bold;
    color: var(--bluecard);

}
.projects .box span:nth-child(2){
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: var(--orange);

    
}

.projects .box .one a{
    margin-top: 20px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: var(--bluecard);




}




/* contact style */

.contact {
    display: flex;
    padding: 10rem 3.5rem;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.contact .blur:nth-child(1) {
    background-color: aquamarine;
    height: 22rem;
    width: 14rem;
    filter: blur(72px);
    border-radius: 50%;
    position: absolute;
    left: 20px;
    z-index: -5;
    bottom: 0;

}

.contact .blur:nth-child(2) {
    background-color: var(--purple);
    height: 22rem;
    width: 14rem;
    filter: blur(72px);
    border-radius: 50%;
    position: absolute;
    top: 180px;
    right: 20px;
    z-index: -5;

}

.contact .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    height: auto;




}

.contact .left span:nth-child(1) {
    font-size: 2.5rem;
    color: var(--black);
}

.contact .left span:nth-child(2) {
    font-size: 2.5rem;
    color: var(--orange);
}

.contact .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: auto;
    

}

.contact .right input {
    width: 500px;
    height: 50px;
    border-radius: 10px;
    padding: 15px 10px;
    outline: none;
    border: 3px solid var(--orange);
    margin: auto;


}

.contact .right input {
    margin-top: 40px;
}


::placeholder {
    color: black;
    font-size: 16px;

}

.contact .right textarea {
    width: 500px;
    padding: 15px 10px;
    outline: none;
    margin-top: 40px;

    border: 3px solid var(--orange);
    border-radius: 10px;
}

.contact .right .btn {
    display: block;
    margin-top: 50px;
    font-size: 16px;


}

/* footer style */

.footer {
    height: 14rem;
}

.footer .bg-yellow {
    clip-path: polygon(0 5%, 39% 9%, 100% 0, 100% 100%, 39% 100%, 0% 100%);
    height: 100%;
    background-color: var(--orange);

}

.footer .bg-yellow .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

.footer .bg-yellow .content .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}


.footer .bg-yellow .content .icon a i {
    font-size: 2.5rem;
    color: white;
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;

}

.footer .bg-yellow .content i:hover {
    transform: scale(1.03);
}

.footer .bg-yellow .content a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    display: block;
    margin-top: 40px;
}
@media (max-width:1285px) {
    .projects{
        padding: 3rem 0.5rem;
        height: auto;

    }
    

    .projects .container{
        margin-left:0 ;
        margin-right: 0;

    }
    .contact{
        padding: 10rem 0.5rem;
        height: auto;

    }   

    
}

@media (max-width:1030px) {
   .contact .right input{
    width: 100%;
   }
   .contact .right textarea{
    width: 100%;
   }
    
}

@media (max-width:1000px) {
    header {
        padding: 0.5rem 0.5rem;

    }
    .home{
        padding: 3rem 0.5rem;
 
    }
    .about{
        padding: 3rem 0.5rem;

    }
    .experience{
        padding: 3rem 0.5rem;

    }
   

}
@media (max-width:930px) {
    .experience{
        flex-direction: column;
        height: auto;
    }
    .experience .right {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 3rem;
    }

    .experience .right .exp-box {
        position: static !important;
        margin: 20px;
       
    }
   
    .experience .left{
        width: 100%;
        
    }
  
    
}

@media (max-width:800px) {
    header .nav {
        display: none;
    }

    header .right {
        display: none;
    }
    header .menu{
        display: block;
    }
    .home{
        height: auto;
    }
    .home .main{
        flex-direction: column-reverse;
        
    }
     .home .main .left{
        width: 100%;
    } 
    .home .main .right{
        width: 100%;
        margin-top: 2rem;
    } 
        
    .about{
        flex-direction: column;
        height: auto;
    }
    .about .left{
        width: 100%;
    }
    .about .right{
        width: 100%;
    }
    .about .container{
        align-items: center;
        justify-content: center;
    }
    .about .left .img{
        height: 25rem;
        display: flex;
        justify-content: center;
        
        
    }

    .contact{
        flex-direction: column;
    }
    .contact .left{
        width: 100%;
        padding: 2rem;
        align-items: center;
    }
    .contact .right{
        width: 100%;
        padding: 2rem;
 
    }

    
}
@media (max-width:600px) {
    .home .content span {
        font-size: 2.4rem;
       
    }
    .about .right h1 {
        font-size: 2.1rem;
    
    }
    .about .right h2 {
        
        font-size: 1.8rem;
    
    
    }
    .experience .left .content span{
        font-size: 2.1rem;
    }
    .projects h3 {
        font-size: 2.1rem;
    
    }
    
    .projects h2 {
        font-size: 2.1rem;
    
    }
    .contact .left span:nth-child(1) {
        font-size: 2.1rem;
    }
    .contact .left span:nth-child(2) {
        font-size: 2.1rem;
    }
    .home .iocn i {
        font-size: 2.2rem;
    }
    .footer .bg-yellow .content i {
        font-size: 2.2rem;
        margin-right: 15px;
        margin-left: 15px;
    
    }
    .footer .bg-yellow .content a {
        font-size: 1rem;
        
    }


    
}

@media (max-width:500px) {
    .contact .left{
        padding: 0.5rem;
    }
    .contact .right{
        padding: 0.5rem;
 
    }
    .home .right .img img{
        height: 25rem;
    }
    .about .container .box {
        width: 100vw;
        padding-left: 2px;
        padding-right: 2px;


    }
    
    .about .container .progress {
        width: 100%;
    
    }

    
}
@media (max-width:400px) {
    .about .container .box {
        width: 100vw;
    }


}

